<div class="row">
    <div class="col">
        <h4>Settings</h4>
    </div>
</div>
<form [formGroup]="apiForm">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>NewsAPI.org</label>
                <input type="text" formControlName="apiKeyInput" class="form-control" placeholder="Input API Key">
                <small class="form-text text-muted">Please enter the API Key from newsapi.org</small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <button type="button" class="btn btn-secondary mr-2" (click)="goBack()">Back</button>
            <button type="button" class="btn btn-primary" (click)="onDelete()" [disabled]="apiForm.invalid">Delete</button>
        </div>
        <div class="col-6">
            <div class="d-flex flex-row-reverse">
                <button type="button" class="btn btn-danger" (click)="onAdd()" [disabled]="apiForm.invalid">Add</button>
            </div>
        </div>
    </div>
</form>