<div class="row">
    <div class="col-6">
        <h4>Countries</h4>
    </div>
    <div class="col-6">
        <div class="d-flex flex-row-reverse">
            <button type="button" class="btn btn-primary btn-sm" (click)="goToSettings()">Settings</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="list-group">
            <a *ngFor="let country of countryList" [routerLink]="['/results', country.alpha2Code]" class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-8">
                        {{country.name}}
                    </div>
                    <div class="col-4">
                        <div class="d-flex justify-content-end">
                            <img src={{country.flag}} height="40px">
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>